@charset "utf-8";

/* Typography Start*/
@font-face {
    font-family: KFWCentroSans;
    src: url('../fonts/KfW Webfonts/KfW Centro Sans Webfont/KfW Centro Sans Regular/KFWCentroSans-Reg.ttf');
}

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body {
    margin: 0;
    font-family: KFWCentroSans, serif;
    font-weight: 300;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,
li, p, div {
    font-family: KFWCentroSans, serif;
    font-weight: 300;
    margin: 0 0 15px;
    color: #5A6166;
}

h1 {
    font-size: 48px;
    line-height: 56px;
    color: #005A8C;
}

.h1-addition {
    color: #519DC2;
}

h2 {
    font-size: 36px;
    line-height: 42px;
}

h3 {
    font-size: 32px;
    line-height: 36px;
}

h4 {
    font-size: 28px;
    line-height: 32px;
}

h5 {
    font-size: 24px;
    line-height: 28px;
}

h6 {
    font-size: 20px;
    line-height: 24px;
}

li, p, div {
    font-size: 15px;
    margin: 0 0 1.5rem 0;
    line-height: 1.47;
}

a {
    color: #5e7200;
}

small {
    font-size: 15px;
    line-height: 17px;
}

div {
    margin: 0;
}

/* Typography End */

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    max-width: 100vw;
    transition: all 0.5s;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px);
}

.img-kfwlogo {
    max-height: 70px;
    margin: 10px;
}

/*--------------------------------------------------------------
# Navigation bar
--------------------------------------------------------------*/

.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar {
    display: grid;
    float: right;
    display: inline;
    width: 100%;
    height: 20px;
    max-width: 1720px;
    grid-template-columns: 0.2fr auto 1fr;
    margin: 0 auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* nowrap */
}

.navbar li {
    display: inline-block;
    margin: 0 3.5%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 80%;
    justify-self: end;
}

.nav-menu a {
    position: relative;
    color: #005A8C;
    text-decoration: none;
    width: auto;
    text-align: center;
}

.nav-link{
    display: inline-block;
    }

.nav-link:hover {
    color: #5e7200;
    text-decoration: underline;
    transition: all 0.3s ease-out;
}

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #F6F5ED;
}


/*--------------------------------------------------------------
# General Sections
--------------------------------------------------------------*/

/* General Styling */
.responsive {
    width: 100%;
    padding: 100px 0;
}

.responsive > * {
    padding-inline: 20px;
}

/* Mobile Layout */
@media screen and (max-width: 800px) {
    .responsive {
       display: block;
    }

    .responsive > * {
       width: calc(100% - 2*20px);
    }

    .nav-container{
        position: relative;
    }

    .nav-menu{
        display: grid;
        grid-template-columns: 1;
        background: #7da416;
        margin: 0;
        width: 25%;
        position: fixed;
        top: 80px;
        right: 15px;
        left: -100%;  /* these elements fade the navbar */
        opacity: 0;   /*these elements fade the navbar */
        transition: all 0.5s ease;
    }
    .nav-menu a {
        position: relative;
        color: #d2e4f0;
        text-decoration: none;
        width: auto;
        text-align: center;
    }

    .nav-menu.active{
        background: #556672;
        left: 70%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-link{
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        padding: 0 20px;
    }

    .nav-link:hover{
        background-color: #519DC2;
        color: #5A6166;
        border: none;
        padding: 0 20px;
        border-radius: 0;
        transition: all 0.5s ease-out;
    }
    .navbar{
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 30%;
        right: 15%;
        transform: translate(25%, 30%);
        
    }

    .menu-toggle .bar{
        display: block;
        cursor: pointer;
        background-color: #005A8C;
    }

    .menu-toggle:hover{
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
 }   

/* Desktop Layout */
@media screen and (min-width: 801px) {
    .responsive {
        display: inline-flex;
    }

    .responsive > * {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
    }
}

/* Oversized Screen Centering */
@media screen and (min-width: 1200px) {
    .responsive {
        max-width: 1200px;
        padding-inline: calc((100vw - 1200px) / 2);
    }

    .responsive > * {

    }
}

.example-box {
    height: calc(100% - 40px - 40px); /* Make both boxes the same height */
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: #005A8C;
    color: white;
}

.button {
    cursor: pointer;
    padding: 7px 20px;
    background: #7da416;
    color: #ffffff;
    border: 1px solid #5e7200;
    border-radius: 100px;
    transition: 0.3s;
    text-decoration: none;
}

.button:hover {
    background: transparent;
    color: #5e7200;
    text-decoration: none;
}

.image {
    max-width: 100%;
}

.img-wrap {
    line-height: 0;
}

.video {
    max-width: 100%;
    height: min-content;
}

.light-green-box {
    background-color: #F6F5ED;
}


.dark-green-box {
    background-color: #4E6E41;
}

.blue-box {
    background-color: #005A8C;
}

.green-box {
    background-color: #7da416;
}

.brown-box {
    background-color: #D5A846;
}

.charcoal-box{
    background-color: #373f43;
}

.arrow {
    color: #7da416;
}

/*--------------------------------------------------------------
# Section 0 (Header Image) - style
--------------------------------------------------------------*/
#section0a {
    height: 50vh;
    min-height: 500px;
    margin-top: 85px; /* offset menu */
    background-image: url("/assets/images/imageOne.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(139, 139, 139, 0.815);
    background-blend-mode: multiply;
}

/*--------------------------------------------------------------
# Section 1 - style
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Section 2 - style
--------------------------------------------------------------*/
/*-------------------
# Video in Section 2
-------------------*/


/*--------------------------------------------------------------
# Section 3 - style
--------------------------------------------------------------*/
#section3 {
    background-image: url("/assets/images/imageOne.jpeg");
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: lighten;
}


/*-------------------
# Image in Section 1
-------------------*/

/*--------------------------------------------------------------
# Section 4 - style
--------------------------------------------------------------*/

.contentOne {
    background-color: rgb(206, 139, 15);
    margin-left: 25%;
    margin-right: -200%;
}

.contentTwo {
    background-color: #74b8e6;
    margin-left: 25%;
    margin-right: -200%;
}

.contentThree {
    background-color: #afa230;
    margin-left: 25%;
    margin-right: -200%;
}

.contentFour {
    background-color: #5e7200;
    margin-left: 25%;
    margin-right: -200%;
}

@media screen and (max-width: 800px) {
    #content{
        margin-top: 15%;
        margin-left: 0%;
        margin-right: auto;
    }
}

@media screen and (min-width: 801px) {
    #content{
        margin-top: 15%;
        margin-left: 30%;
        margin-right: -135%;
    }
}

@media screen and (min-width: 1200px) {
    #content{
        margin-right: -250%;
    }
}

/*--------------------------------------------------------------
# Section 5 - style
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# footer / Section 6 - style
--------------------------------------------------------------*/
#footer div {
    align-items: flex-start;
}

#footer ul {
    list-style-type: none;
    padding: 0;
}

#footer .social-links a {
    display: inline-block;
    padding: 10px;
    width: 36px;
    height: 36px;

}

#footer .social-links a svg {
    fill: #005A8C;
    fill-rule: evenodd;
    transition: 0.3s;
}

#footer .social-links a:hover svg {
    fill: #7da416;
}

.closing-footer {
    text-align: center;
    padding: 10px 0;
}

.closing-footer a {
    margin-inline: 10px;
}

/*--------------------------------------------------------------
# Back to top - button
--------------------------------------------------------------*/
#back-to-top {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 65px;
    background: transparent;
    border-style: solid;
    border-color: #005A8C;
    cursor: pointer;
    width: 45px;
    height: 45px;
    outline: none;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    transition: 0.3s;
    backdrop-filter: blur(20px);
}

#back-to-top svg {
    fill: #005A8C;
    transition: 0.3s;
}

#back-to-top:hover svg {
    fill: #7da416;
}

#back-to-top:hover {
    border-color: #7da416;
    box-shadow: 0 0 75px 50px rgba(0, 0, 0, 0.05);
}

/*-------------------------
# Back to top btn animation
-------------------------*/
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

/* fadeInUp */
@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}


