

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body {
  margin: 0;
  background: rgb(238, 235, 235);
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-weight: 400;
  padding: 100px 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgb(255, 255, 255);
  transition: all 0.5s;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 99;
  top: 0px;
  width: 100%;
}
#header .headerLogo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
#header .headerLogo a {
  color: #0c6892;
}
#header .headerLogo  img {
  max-height: 60px;
}

/*--------------------------------------------------------------
# Navigation bar
--------------------------------------------------------------*/
#navbar {
  background:#ffffff;
  left: 20px;
  float: right;
  display: inline;
}

#nav-link ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-link li{
  font: #00446e;
  display: inline-block;
  margin-right: 90px;
  margin-left: 60px;
  padding-right: 8px;
  padding-bottom: 5px;
}

#nav-link a{
  color: #00446e;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
}

#nav-link a :hover{
  text-decoration: underline;
  color: #5e7200;
}

/*--------------------------------------------------------------
# Section 1 - style
--------------------------------------------------------------*/

/*-------------------
# Image in Section 1
-------------------*/
#section1 .img-first-block img {
  width: fit-content; 
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

/*--------------------------------------------------------------
# Section 2 - style
--------------------------------------------------------------*/


/*-------------------
# Video in Section 2
-------------------*/
#section2 .row video{
  width: fit-content; 
  height: fit-content;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*--------------------------------------------------------------
# Back to top - button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: visible;
    opacity: 0;
    right: 25px;
    bottom: 65px;
    background: transparent;
    border-style: solid; 
    border-color: #00446e;
    width: 40px;
    height: 40px;
    border-radius: 21px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #5e7200;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #5e7200;
    color: #e4e4e3;
  }
  .back-to-top.active {
    opacity: 1;
    width: 40px;
    height: 40px;
  }
  