/* Webfont: KfWCentroSlab-Bold */@font-face {
    font-family: 'KfWCentroSlab';
    src: url('KfWCentroSlab-Bold.eot'); /* IE9 Compat Modes */
    src: url('KfWCentroSlab-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('KfWCentroSlab-Bold.woff') format('woff'), /* Modern Browsers */
         url('KfWCentroSlab-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('KfWCentroSlab-Bold.svg#KfWCentroSlab-Bold') format('svg'); /* Legacy iOS */
         url('KfWCentroSlab-Bold.woff2’) format('woff2’), /* Modern Browsers */
    font-style: normal;
    font-weight: bold;
}

p {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}